@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Montserrat&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  text-align: center;
  background: rgb(225, 180, 211);
  background: linear-gradient(
    99deg,
    rgba(225, 180, 211, 1) 20%,
    rgba(174, 221, 239, 1) 41%,
    rgba(234, 219, 128, 1) 99%
  );
}

h1 {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}

nav {
  background-color: #f7eae2;
}

a.navbar-brand {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(225, 180, 211, 1) 20%,
    rgba(234, 219, 128, 1) 54%,
    rgba(174, 221, 239, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: "Comfortaa", cursive;
  font-weight: lighter;
}

p {
  font-family: "Montserrat", sans-serif;
}

form {
  display: inline-block;
}

.btn-info {
  color: black;
  background-color: #f7eae2;
  border-color: #f7eae2;
}

.btn:hover {
  color:rgba(174, 221, 239, 1);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.logo {
  font-size: 60px;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(225, 180, 211, 1) 20%,
    rgba(234, 219, 128, 1) 54%,
    rgba(174, 221, 239, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slogan {
  font-size: 30px;
  text-align: center;
  color: #f7eae2;
}

.register-text {
  text-align: center;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/Images/heroimage.JPG);
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
}

/* Events */



.event-image img {
 border-radius: 50%;
 height: 200px;
 width: 200px;
 position: relative;
}


/* dividers*/

hr {
  width: 100px;
  height: 5px;
  border: 0;
  background-color: #f7eae2;
}

.footer-icons {
  color: #f7eae2;

}